<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/book_details.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+oj/0U06M+E+FQ0Ej5BZu5d3w5Hpu" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1 th:text="${book.title}">Book Detail</h1>

    <div class="book-detail">
        <p><strong>Author:</strong> <span th:text="${book.author.firstName + ' ' + book.author.lastName}"></span></p>
        <p><strong>Genre:</strong> <span th:text="${book.genre.name}"></span></p>
        <p><strong>Description:</strong> <span th:text="${book.description}"></span></p>
    </div>

    <form th:action="@{/bookmarks/{bookId}/bookmark(bookId=${book.id})}" th:object="${bookmark}" method="post">
        <label for="pageNumber">Page Number:</label>
        <input type="number" id="pageNumber" th:field="*{pageNumber}" min="1" required/>
        <button type="submit" class="btn btn-primary">Add Bookmark</button>
    </form>

    <div class="bookmarks">
        <h2>Your Bookmarks</h2>
        <table>
            <thead>
            <tr>
                <th>Page Number</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bookmark : ${bookmarks}">
                <td th:text="${bookmark.pageNumber}">Page Number</td>
                <td>
                    <form th:action="@{/bookmarks/{bookmarkId}/delete(bookmarkId=${bookmark.id}, bookId=${book.id})}"
                          method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger delete-btn">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="back-btn-container">
        <a th:href="@{/books}" class="btn back-btn">Back to Books</a>
    </div>
</div>

</body>
</html>
